<!DOCTYPE html>
<html lang="en">
<head>
    {% if not is_authorized %}
        <meta http-equiv="refresh" content="0; url=http://localhost:8000/login" />
    {% endif %}
    <meta charset="UTF-8">
    <title>Главная Страница</title>
</head>
<body>
    {% if login %}
        Приветствую, {{ login }}!
    {% endif %}
    Только авторизованные могут это видеть!!!
    <div>
        <a href="http://localhost:8000/logout">Выйти</a>
    </div>

    {% for continent in continents %}
        <div><h3>{{ continent[0] }}</h3>
            <table>
                <tbody>
                <tr>
                    <th>М</th>
                    <th>Город / Агломерация</th>
                    <th>Страна</th>
                    <th>Население агломерации</th>
                </tr>
                {% for city in cities[continent[0]] %}
                <tr>
                    <td>{{ city[0] }}</td>
                    <td>{{ city[1] }}</td>
                    <td>{{ city[2] }}</td>
                    <td>{{ city[3] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

</body>
</html>